<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Algorithms</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body style="margin: 15px;">
<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <ul class="nav nav-pills">
        <li><a href="#">Union-find</a></li>
        <li><a href="/sort">Sort</a></li>
        <li><a href="#">Test</a></li>
      </ul>
    </div>
  </div>
  {{{body}}}
</div>
</body>
</html>
