<div class='row'>
  <div class='col-md-2'>
    <a style='margin-top: 5px;' type="button" href='/newRandomArray' class="btn btn-info">New random array</a>
    <a style='margin-top: 5px;' type="button" href='/newArray' class="btn btn-info">New ordered array</a>
    <a style='margin-top: 5px;' type="button" href='/selectionSort' class="btn btn-success">Selection sort</a>
    <a style='margin-top: 5px;' type="button" href='/insertionSort' class="btn btn-success">Insertion sort</a>
    <a style='margin-top: 5px;' type="button" href='/shellSort' class="btn btn-success">Shell sort</a>
    <a style='margin-top: 5px;' type="button" href='/shuffle' class="btn btn-danger">Shuffle</a>
  </div>
  <div class='col-md-10 well' style='word-wrap: break-word;'>
    {{array}}
  </div>
</div>
